<header class="header">
    <div class="navigation section">
        <div class="item-left">
            <a href="/">
                <div class="logo">
                    <img src="/images/sukhfx.svg" class="" alt=""><span class="text-white">sukh<span>op</span></span>
                </div>
            </a>
        </div>
        <div class="item-right">
            <ul class="menu">
                <li><a href="/" class="nav_home"><i class="uil uil-estate"></i><span>.home()</span></a></li>
                <li><a href="/about" class="nav_about"><i class="uil uil-channel"></i><span>.about()</span></a></li>
                <li><a href="/work" class="nav_work"><i class="uil uil-folder"></i><span>.work()</span></a></li>
                <li><a href="mailto:sukhbircing@gmail.com"><i class="uil uil-at"></i><span>.contact()</span></a></li>
            </ul>
            <div class="ham">
                <i class="fa-light fa-ellipsis-vertical"></i>
            </div>
        </div>
    </div>
</header>